<div class="col-sm-2 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Menu</div>
        <div class="panel-body">
            <ul class="nav nav-stacked">
                <li><a routerLink="/login" routerLinkActive="active" class="btn btn-primary">Login</a></li>
                <li><a routerLink="/search" routerLinkActive="active" class="btn btn-primary">Search</a></li>
                <li><a routerLink="/about" routerLinkActive="active" class="btn btn-primary">About</a></li>
            </ul>
        </div>
    </div>
</div>
