<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-right">
            <input #searchBox id="search-box">
        </div>
    </div>
    <div *ngFor="let business of businesses">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-6 col-xs-12">
                    <h4>{{business.name}}</h4>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span>Address: {{business.address}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
